


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l0">Nom</label>
                    {{ form_widget(form.Utilisateur.nom) }}
                    <!-- nom -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l1">Prénom</label>
                    {{ form_widget(form.Utilisateur.prenom) }}
                    <!-- prénom -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l3">Date de naissance</label>
                    {{ form_widget(form.Utilisateur.dateNaissance) }}
                    <!-- date de naissance -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l4">Genre</label>
                    {{ form_widget(form.Utilisateur.sex) }}
                    <!-- genre -->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l4">E-mail</label>
                    {{ form_widget(form.Utilisateur.email) }}
                    <!-- email -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="l4">Téléphone</label>
                    {{ form_widget(form.Utilisateur.telephone) }}
                    <!-- telephone -->
                </div>
            </div>


            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label" for="l4">Adresse</label>
                    {{ form_widget(form.Utilisateur.adresse) }}

                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-control-label" for="l4">File</label>
                    {{ form_widget(form.Utilisateur.myFile) }}

                </div>
            </div>



            <div class="clearfix"></div>

           {# {% include 'eleve/parents.html.twig' %}#}

        </div>
        <div class="form-actions">
            <div class="form-group">
                <button class="btn width-150 btn-primary icmn-plus-circle"> Modifier</button>
                <button type="button" class="btn btn-default icmn-minus-circle"> Annuler</button>
            </div>
        </div>


        {{ form_widget(form._token) }}


