{% extends 'base.html.twig' %}
{% block title %} Elèves{% endblock %}
{% block body %}

    <section class="panel panel-with-borders">
    <div class="panel-heading">
        <h3 class="color-black-ecole">
            <div class="dropdown pull-right">
                <button type="button" class="btn btn-perso dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Selectionnez une action
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item icmn-user-plus" href="javascript: void(0);" data-toggle="modal" data-target="#myModal1" > Nouveau</a>

                    <li class="dropdown-divider"> </li>
                    <a class="dropdown-item icmn-user-minus" href="javascript: void(0);"> Archiver</a>
                </ul>
            </div>

            <i class="fa fa-user color-black-ecole" aria-hidden="true"></i>
            GESTION DES ELEVES
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover nowrap" id="example1" width="100%">
            <thead class="thead-default">
            <tr>


                <th>Image</th>
                <th>Nom et Prénom</th>
                <th>Username</th>
                <th>Classe</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
                <th>Contact</th>
                <th>Status</th>
                <th>#</th>
                <th>Action</th>

            </tr>
            </thead>

            <tbody>
            {% for eleve in eleves %}
                <tr>


                    <td><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img src="{{ asset('uploads/photos/') }}{{ eleve.imageName }}" /></a></td>
                    <td>{{ eleve.nom }} {{ eleve.prenom }}</td>
                    <td>{{ eleve.username }}</td>
                    <td>
                        {% if eleve.currentEtude != null  %}
                        {{ eleve.currentEtude.classe.nom }}
                        {% else  %}
                            Pas de classe
                        {% endif  %}
                    </td>
                    <td><a href="javascript: void(0);" class="link-underlined">{{ eleve.email }}</a></td>
                    <td>{{ eleve.telephone }}</td>
                    <td>{{ eleve.dateNaissance | date('d M ,Y')}}</td>
                    <td>{{ eleve.parents.methodeContact }}</td>
                    {% if eleve.etat==1 %}
                        <td><span class="label label-success">Activé</span></td>
                    {% else %}

                        <td><span class="label label-warning">Desactivé</span></td>
                    {% endif %}
                    <th scope="row">
                        <input type="checkbox">
                    </th>
                    <td>
                        <a href="javascript: void(0);" class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                        <a href="{{ path('eleve_delete', { 'id': eleve.id }) }}" class="link-underlined"><i class="icmn-archive"><!-- --></i> Archiver</a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        {{ render(controller('EJPAcademixBundle:Eleve:new')) }}

    </div>
    </section>






{% endblock %}

    {% block javascripts %}

        <!-- Page Scripts -->
        <script>
            $(function () {

                // Datatables
                $('#example1').DataTable({
                    "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                    responsive: true,
                    "autoWidth": false
                });

            })
        </script>
        <!-- End Page Scripts -->


    {% endblock %}





