<div class="modal-dialog">

    <!-- Modal content-->

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title color-black-ecole"><i class="fa fa-user color-black-ecole" aria-hidden="true"></i> Nouveau élève</h3>
        </div>
        <form action="{{ path('eleve_new') }}" method="post" enctype="multipart/form-data">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-12">

                        <h5 class="color-black-ecole icmn-cogs"> Informations sur le compte</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l301">Identifiant</label>
                                    <input type="text" class="form-control" placeholder="Identifiant" disabled="" id="l0">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l302">Mot de passe</label>
                                    <input type="text" class="form-control" placeholder="Mot de passe" disabled="" id="l0">
                                </div>
                            </div>
                        </div>
                        <br />
                        <h5 class="color-black-ecole icmn-profile"> Informations sur l'élève</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Nom</label>
                                    {{ form_widget(form.Utilisateur.nom) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Prénom</label>
                                    {{ form_widget(form.Utilisateur.prenom) }}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">E-mail</label>
                                    {{ form_widget(form.Utilisateur.email) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Téléphone</label>
                                    {{ form_widget(form.Utilisateur.telephone) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Date de naissance</label>
                                    {{ form_widget(form.Utilisateur.dateNaissance) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Sex</label>
                                    {{ form_widget(form.Utilisateur.sex) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="l15">Adresse</label>
                                    {{ form_widget(form.Utilisateur.adresse) }}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h5 class="color-black-ecole icmn-image"> Image de l'élève</h5>
                                <div class="cui-ecommerce--catalog--item">
                                    <div class="cui-ecommerce--catalog--item--img">
                                        <a href="javascript: void(0);">
                                            <img src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg" />
                                        </a>
                                        <a href="javascript: void(0);" class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                            <i class="icmn-cross2"><!-- --></i> Remove
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    {{ form_widget(form.Utilisateur.myFile) }}
                                </div>
                            </div>
                        </div>

                        <h5 class="color-black-ecole icmn-users"> Informations sur les parents</h5>
                        <div class="row">
                            <div class="pars" data-prototype="{{ form_row(form.parents.vars.prototype)|e('html_attr') }}">
                            {% for parent in form.parents %}
                            <div class="par">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Nom</label>
                                    {{ form_widget(parent.nom) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Prénom</label>
                                    {{ form_widget(parent.prenom) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">E-mail</label>
                                    {{ form_widget(parent.email) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Téléphone</label>
                                    {{ form_widget(parent.tel) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Adresse</label>
                                    {{ form_widget(parent.adr) }}
                                </div>
                            </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="l15">Methode de contact</label>
                                            {{ form_widget(parent.methodeContact) }}
                                        </div>
                                    </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Responsable</label>
                                    {{ form_widget(parent.responsable) }}
                                </div>
                            </div>
                            </div>

                                <hr>
                            {% endfor %}



                            </div>

                        </div>



                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-perso icmn-plus-circle"> Ajouter</button>
                <button type="button" class="btn btn-default icmn-cancel-circle" data-dismiss="modal"> Annuler</button>
            </div>

            {{ form_widget(form._token) }}
        </form>



    </div>
</div>

{% block stylesheets %}
<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $('<div class="pars"></div>').append($addTagLink);

    jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('div.pars');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('.par').each(function() {
            addTagFormDeleteLink($(this));
        });

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
    // prevent the link from creating a "#" on the URL
    e.preventDefault();

    // add a new tag form (see next code block)
    addTagForm($collectionHolder, $newLinkLi);
    });
    });


    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="par"></div>').append(newForm);
        $newLinkLi.before($newFormLi);

        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">delete this tag</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }

</script>

{% endblock %}