{% extends 'base.html.twig' %}
{% block title %} Elève{% endblock %}
{% block menu_block %}  style="display: block;" {% endblock %}
{% block body %}

    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">

                        <div class="profile-header-title">
                            <h2><span class="color-rouge-ecole"> {{ eleve.prenom }} {{ eleve.nom}}  </span></h2>
                            <p>
                                {% if eleve.currentClasse !=null %}
                                Classe : {{ eleve.currentClasse.nom }}
                                {% else %}
                                Vous n'êtes pas encore affecté à une classe, contactez la direction
                                {% endif %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user" style="background-image: url({{ asset('../assets/common/img/temp/photos/11.jpeg') }})">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img src="{{ asset('uploads/photos/') }}{{ eleve.imageName }}" alt="Photo de profil eleve">
                        </a>
                        <br />

                        <br />
                    </div>
                </div>
            </section>



            <div class="widget widget-two">
                <div class="widget-header">
                    <span class="text-truncate text-nowrap icmn-profile color-black-ecole"> <strong>Informations de Base</strong></span>
                </div>

                <div class="widget-body clearfix">
                    <dl class="dl-horizontal user-profile-dl">

                        <dt><span class="icmn-vcard color-primary"> <strong> Dernière connexion </strong></span></dt>

                        {#avoir l'avant derniere valeur de connexion#}
                        {% if eleve.lastcons|length > 1 %}
                        <dd> {{ eleve.lastcons[eleve.lastcons|length-2].date|date('d M Y  \\a  H:i') }}</dd>
                        {% else %}
                        <dd> C'est votre première connexion </dd>

                            <script>
                                swal({
                                    title: "Bienvenu dans votre espace élève de l'école Jacques Prévert",
                                    text: "C'est votre première connexion",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    confirmButtonText: "Ok"
                                });
                            </script>

                        {% endif %}
                        <br>



                        <dt><span class="icmn-vcard color-primary"> <strong> Contact </strong></span></dt>
                        {% for responsable in eleve.parentsResponsable %}
                            <dd><i class="icmn-user3"></i> {{ responsable.type }} </dd>
                        <dd><i class="icmn-at-sign"></i> {{ responsable.email }} </dd>
                        <dd><i class="icmn-mobile"></i> {{ responsable.tel }}</dd>
                            <br>
                        {% endfor %}

                    </dl>
                </div>
            </div>
            <div class="widget widget-two">
                <div class="widget-header">
                    <span class="text-truncate text-nowrap icmn-pencil color-black-ecole"> <strong>Travaille à faire</strong></span>
                </div>
                <div class="widget-body clearfix">
                    <label class="form-control-label" for="l15"><span class="icmn-pencil5 color-primary"> <strong>Vous avez un travail à faire pour le 27/02</strong></span></label>


                </div>

            </div>

        </div>
        <div class="col-xl-8">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#fiche_eleve" role="tab">
                                    <i class="icmn-user"></i>
                                    Fiche Elève
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#historique" role="tab">
                                    <i class="icmn-design"></i>
                                    Historique des études
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#remarques" role="tab">
                                    <i class="icmn-pencil5"></i>
                                    Remarques et Sanction
                                </a>
                            </li>



                        </ul>
                        <div class="tab-content padding-vertical-20">


                            <div class="tab-pane " id="remarques" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="color-black-ecole">Liste des sanctions</h3>
                                        <br/>
                                        <table class="table table-hover nowrap" id="example2" width="100%">
                                            <thead class="thead-default">
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Enseignant</th>
                                            <th>Cause</th>
                                            </thead>
                                            <tbody>
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>21/11/2017</td>
                                            <td>M. Khalfi</td>
                                            <td>xxxxx</td>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-lg-6">
                                        <h3 class="color-black-ecole">Liste des remarques</h3>
                                        <br/>
                                        <table class="table table-hover nowrap" id="example2" width="100%">
                                            <thead class="thead-default">
                                            <th>Remarque</th>
                                            <th>Date</th>
                                            <th>Venant de</th>

                                            </thead>
                                            <tbody>
                                            {% for remarque in eleve.remarques %}
                                            <tr>
                                                <td>{{ remarque.label }}</td>
                                                <td>{{ remarque.createdAt|date('d M Y  \\a  H:i') }}</td>
                                                <td>Direction</td>
                                                {% endfor %}
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="historique" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped" id="example1" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>Année Scolaire</th>
                                                <th>Classe</th>
                                                <th>Moyenne</th>
                                                <th>Success</th>
                                                <th>Bulletin</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for etude in eleve.etudes %}
                                                <tr>
                                            <!-- boucle for la liste des etudes liés à un eleve-->
                                            <td>{{ etude.anneeScolaire }}</td>
                                            <td>
                                                {% if etude.classe is not empty %}
                                                {{ etude.classe.nom }}
                                                {% else %}
                                                    N'est pas affecté
                                                    {% endif %}
                                            </td>
                                            <td>{{ etude.moyenne }}</td>
                                            <td>{{ etude.succes }}</td>
                                            <td>
                                                {% if etude.bulletin != null %}
                                                <a href="{{ asset('uploads/bulletins/') }}{{ etude.bulletin }}" class="icmn-file-download">Telecharger bulletin</a>
                                                {% else %}
                                                    N'a pas de bulletin
                                                {% endif %}
                                            </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>




                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane active" id="fiche_eleve" role="tabpanel">
                                <br />
                                <h5>FICHE ELEVE</h5>

                                {{ render(controller('EJPAcademixBundle:Eleve:edit' , {'id' : eleve.id})) }}

                              </div>


                    </div>
                </div>

                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example2').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example3').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example4').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>


    <script>
        $(".avatar").click(function() {
            $("#ejp_academixbundle_eleve_Utilisateur_myFile").click();
        });
    </script>


     <script src="{{ asset('customJs/parents.js') }}"></script>

    <script>
        // SWAL ALERTS
        $('.firstly').isDisabled(function(e){
            e.preventDefault();
            swal({
                title: "Following",
                text: "Now you are following Artour Scott",
                type: "success",
                confirmButtonClass: "btn-success",
                confirmButtonText: "Ok"
            });
        });


    </script>




{% endblock %}
