{% extends 'base.html.twig' %}
{% block title %} Elève{% endblock %}
{% block menu_block %}  style="display: block;" {% endblock %}
{% block body %}

    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">

                        <div class="profile-header-title">
                            <h2><span class="color-rouge-ecole"> " {{ eleve.prenom }} {{ eleve.nom}}"  </span></h2>
                            <p>
                                {% if eleve.currentClasse !=null %}
                                Classe : {{ eleve.currentClasse.nom }}
                                {% else %}
                                {{ eleve.prenom }} {{ eleve.nom}} n'est pas encore affecté à une classe
                                {% endif %}

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user" style="background-image: url({{ asset('../assets/common/img/temp/photos/11.jpeg') }})">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img src="{{ asset('uploads/photos/') }}{{ eleve.imageName }}" alt="Photo de profil eleve">
                        </a>
                        <br />

                        <br />
                        <p >Dernière connexion: 2 Nov 2017 14:00PM</p><!-- dernière date de connexion -->
                    </div>
                </div>
            </section>



            <div class="widget widget-two">
                <div class="widget-header">
                    <span class="text-truncate text-nowrap icmn-profile color-black-ecole"> <strong>Informations de Base</strong></span>
                </div>
                <div class="widget-body clearfix">
                    <dl class="dl-horizontal user-profile-dl">

                        <dt><span class="icmn-vcard color-primary"> <strong> Contact Parent </strong></span></dt>
                        {% for responsable in eleve.parentsResponsable %}
                            <dd><i class="icmn-user3"></i> {{ responsable.type }} </dd>
                        <dd><i class="icmn-at-sign"></i> {{ responsable.email }} </dd>
                        <dd><i class="icmn-mobile"></i> {{ responsable.tel }}</dd>
                            <br>
                        {% endfor %}

                    </dl>
                </div>
            </div>
            <div class="widget widget-two">
                <div class="widget-header">
                    <span class="text-truncate text-nowrap icmn-pencil color-black-ecole"> <strong>Remarque</strong></span>
                </div>
                <div class="widget-body clearfix">
                    <label class="form-control-label" for="l15"><span class="icmn-pencil5 color-primary"> <strong>Saisissez votre remarque</strong></span></label>
                    <textarea class="form-control" rows="3" id="l15"></textarea>
                    <br/>
                    <button type="button" class="btn btn-primary icmn-plus-circle" data-dismiss="modal"> Ajouter</button>
                </div>

            </div>

        </div>
        <div class="col-xl-8">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#fiche_eleve" role="tab">
                                    <i class="icmn-user"></i>
                                    Fiche Elève
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#fiche_parent" role="tab">
                                    <i class="icmn-tie"></i>
                                    Fiche Parent
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#historique" role="tab">
                                    <i class="icmn-design"></i>
                                    Historique des études
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#remarques" role="tab">
                                    <i class="icmn-pencil5"></i>
                                    Remarques et Sanction
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#cnx" role="tab">
                                    <i class="icmn-enter"></i>
                                    Historiques des connexions
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#classe" role="tab">
                                    <i class="icmn-enter"></i>
                                    Classe & bulletin
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane " id="cnx" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-hover nowrap" id="example4" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>Date</th>
                                                <th>IP</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for lastcon in eleve.lastcons %}
                                                <tr>

                                                    <td>{{ lastcon.date|date }}</td>
                                                    <td>{{ lastcon.ip }}</td>
                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane " id="remarques" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="color-black-ecole">Liste des sanctions</h3>
                                        <br/>
                                        <table class="table table-hover nowrap" id="example2" width="100%">
                                            <thead class="thead-default">
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Enseignant</th>
                                            <th>Cause</th>
                                            </thead>
                                            <tbody>
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>21/11/2017</td>
                                            <td>M. Khalfi</td>
                                            <td>xxxxx</td>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-lg-6">
                                        <h3 class="color-black-ecole">Liste des remarques</h3>
                                        <br/>
                                        <table class="table table-hover nowrap" id="example3" width="100%">
                                            <thead class="thead-default">
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Enseignant</th>
                                            <th>Remarque</th>
                                            </thead>
                                            <tbody>
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>21/11/2017</td>
                                            <td>M. Khalfi</td>
                                            <td>xxxxx</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="historique" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-striped" id="example1" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>Année Scolaire</th>
                                                <th>Classe</th>
                                                <th>Moyenne</th>
                                                <th>Success</th>
                                                <th>Bulletin</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for etude in eleve.etudes %}
                                                <tr>
                                            <!-- boucle for la liste des etudes liés à un eleve-->
                                            <td>{{ etude.anneeScolaire }}</td>
                                            <td>
                                                {% if etude.classe is not empty %}
                                                {{ etude.classe.nom }}
                                                {% else %}
                                                    N'est pas affecté
                                                    {% endif %}
                                            </td>
                                            <td>{{ etude.moyenne }}</td>
                                            <td>{{ etude.succes }}</td>
                                            <td>
                                                {% if etude.bulletin != null %}
                                                <a href="{{ asset('uploads/bulletins/') }}{{ etude.bulletin }}" class="icmn-file-download">Telecharger bulletin</a>
                                                {% else %}
                                                    N'a pas de bulletin
                                                {% endif %}
                                            </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <div class="form-actions">
                                            <div class="form-group">
                                                <button class="btn btn-primary icmn-plus-circle" data-toggle="modal" data-target="#modalClasse"> Changer de classe</button>
                                                <button class="btn btn-primary icmn-plus-circle" data-toggle="modal" data-target="#modalBulletin"> Charger bulletin</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane " id="fiche_parent" role="tabpanel">
                                <br />
                                <h5>FICHE PARENTS</h5>
                                <!-- Boucle For -->


                                    <div class="row">


                                        {{ render(controller('EJPAcademixBundle:Eleve:editParents' , {'id' : eleve.id})) }}

                                    </div>

                            </div>



                            <div class="tab-pane active" id="fiche_eleve" role="tabpanel">
                                <br />
                                <h5>FICHE ELEVE</h5>

                                {{ render(controller('EJPAcademixBundle:Eleve:edit' , {'id' : eleve.id})) }}


                        </div>

                            <div class="tab-pane " id="classe" role="tabpanel">
                                <div class="row">


                                        <div class="col-lg-6">


                                                {{ render(controller('EJPAcademixBundle:Etude:edit' , {'id' : eleve.currentEtude.id})) }}


                                            </div>


                                </div>
                            </div>
                    </div>
                </div>


                    {#Modals#}

                <div class="modal fade" id="modalClasse" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">

                            {% include 'eleve/edit_classe.html.twig' %}

                        </div>
                    </div>
                </div>

                    <div class="modal fade" id="modalBulletin" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                               {{ render(controller('EJPAcademixBundle:Eleve:editBulletin',{'id' : eleve.id} )) }}

                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example2').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example3').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example4').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>


    <script>
        $(".avatar").click(function() {
            $("#ejp_academixbundle_eleve_Utilisateur_myFile").click();
        });
    </script>


     <script src="{{ asset('customJs/parents.js') }}"></script>



{% endblock %}
