{% extends 'base.html.twig' %}

{% block body %}

<section class="panel panel-with-borders">

    <div class="panel-body">
        <div class="row">

            <h1>Classe edit</h1>

            <div class="col-lg-2">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-perso icmn-plus-circle" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}



<br>
            {{ form_start(delete_form) }}
                <input class="btn btn-perso icmn-cross" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}



                <a href="{{ path('classe_index') }}"><- Revenir à la liste</a>
</div>



        </div>

    </div>


</section>
{% endblock %}
