{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parents list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nommere</th>
                <th>Nompere</th>
                <th>Telmere</th>
                <th>Telpere</th>
                <th>Emailmere</th>
                <th>Emailpere</th>
                <th>Adrmere</th>
                <th>Adrpere</th>
                <th>Methodecontact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
            <tr>
                <td><a href="{{ path('parents_show', { 'id': parent.id }) }}">{{ parent.id }}</a></td>
                <td>{{ parent.nomMere }}</td>
                <td>{{ parent.nomPere }}</td>
                <td>{{ parent.telMere }}</td>
                <td>{{ parent.telPere }}</td>
                <td>{{ parent.emailMere }}</td>
                <td>{{ parent.emailPere }}</td>
                <td>{{ parent.adrMere }}</td>
                <td>{{ parent.adrPere }}</td>
                <td>{{ parent.methodeContact }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parents_show', { 'id': parent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parents_edit', { 'id': parent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parents_new') }}">Create a new parent</a>
        </li>
    </ul>
{% endblock %}
