{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parent.id }}</td>
            </tr>
            <tr>
                <th>Nommere</th>
                <td>{{ parent.nomMere }}</td>
            </tr>
            <tr>
                <th>Nompere</th>
                <td>{{ parent.nomPere }}</td>
            </tr>
            <tr>
                <th>Telmere</th>
                <td>{{ parent.telMere }}</td>
            </tr>
            <tr>
                <th>Telpere</th>
                <td>{{ parent.telPere }}</td>
            </tr>
            <tr>
                <th>Emailmere</th>
                <td>{{ parent.emailMere }}</td>
            </tr>
            <tr>
                <th>Emailpere</th>
                <td>{{ parent.emailPere }}</td>
            </tr>
            <tr>
                <th>Adrmere</th>
                <td>{{ parent.adrMere }}</td>
            </tr>
            <tr>
                <th>Adrpere</th>
                <td>{{ parent.adrPere }}</td>
            </tr>
            <tr>
                <th>Methodecontact</th>
                <td>{{ parent.methodeContact }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parents_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parents_edit', { 'id': parent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
