{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ parent.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ parent.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ parent.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ parent.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ parent.adresse }}</td>
            </tr>
            <tr>
                <th>Methodecontact</th>
                <td>{{ parent.methodeContact }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parents_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parents_edit', { 'id': parent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
