{% extends 'base.html.twig' %}

{% block body %}
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h3 class="color-black-ecole">
                <div class="dropdown pull-right">
                    <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                        Selectionnez une action
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item icmn-user-plus" href="javascript: void(0);" data-toggle="modal" data-target="#modal_add" > Nouveau</a>

                        <li class="dropdown-divider"> </li>
                        <a class="dropdown-item icmn-user-minus" href="javascript: void(0);"> Archiver</a>
                    </ul>
                </div>

                <i class="fa fa-black-tie color-black-ecole" aria-hidden="true"></i>
                GESTION DES ENSEIGNANTS
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover nowrap" id="example1" width="100%">
                <thead class="thead-default">
                <tr>


                    <th>Image</th>
                    <th>Nom & Prenom</th>
                    <th>Identifiant</th>
                    <th>Matière</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                    <th>Date de recrutement</th>
                    <th>Status</th>
                    <th>#</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                {% for enseignant in enseignants %}
                <tr>


                    <td><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img src="{{ asset('uploads/photos/') }}{{ enseignant.imageName }}" /></a></td>
                    <td>{{ enseignant.nom }} {{ enseignant.prenom }}</td>
                    <td>{{ enseignant.username }}</td>
                    <td>Français</td>
                    <td><a href="javascript: void(0);" class="link-underlined">{{ enseignant.email }}</a></td>
                    <td>{{ enseignant.telephone }}</td>
                    <td>{{ enseignant.dateRecrutement | date('d M ,Y')}}</td>
                    {% if enseignant.etat %}
                        <td>
                            <label class="switch">
                                <input value="{{ enseignant.id }}" class="state_button" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>

                        </td>
                    {% else %}

                        <td>

                            <label class="switch">
                                <input value="{{ enseignant.id }}" class="state_button" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    {% endif %}
                    <th scope="row">
                        <input type="checkbox">
                    </th>
                    <td>
                        <a href="{{ path('enseignant_edit', { 'id': enseignant.id }) }}" class="link-underlined"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                        <a href="{{ path('enseignant_delete', { 'id': enseignant.id }) }}" class="link-underlined"><i class="icmn-archive"><!-- --></i> Archiver</a>

                    </td>

                </tr>

                {% endfor %}



                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modal_add" role="dialog">
            {{ render(controller('EJPAcademixBundle:Enseignant:new')) }}
        </div>



    </section>


{% endblock %}

{% block stylesheets %}
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #e0de00;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #e0de00;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block javascripts %}


    <script>

        $( ".state_button" ).change(function( event ) {
            var etat = $(this).is(":checked");
            etat = etat ? 1 : 0;
            var id = $(this).val();
            $.post( "{{ path("utilisateur_etat_ajax") }}", { id: id, etat : etat } , function( data ) {
            });

        });
    </script>

    <!-- Page Scripts -->
    <script>
        $(function () {

            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });

        })
    </script>
    <!-- End Page Scripts -->


{% endblock %}
