{% extends 'base.html.twig' %}

{% block body %}
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h3 class="color-black-ecole">
                <div class="dropdown pull-right">
                    <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                        Selectionnez une action
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item icmn-user-plus" href="javascript: void(0);" data-toggle="modal" data-target="#myModal1" > Nouveau</a>

                        <li class="dropdown-divider"> </li>
                        <a class="dropdown-item icmn-user-minus" href="javascript: void(0);"> Archiver</a>
                    </ul>
                </div>

                <i class="fa fa-black-tie color-black-ecole" aria-hidden="true"></i>
                GESTION DES ENSEIGNANTS
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover nowrap" id="example1" width="100%">
                <thead class="thead-default">
                <tr>


                    <th>Image</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Matière</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                    <th>Date de recrutement</th>
                    <th>Status</th>
                    <th>#</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                {% for enseignant in enseignants %}
                <tr>


                    <td><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img src="../assets/common/img/temp/avatars/1.jpg" /></a></td>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>Français</td>
                    <td><a href="javascript: void(0);" class="link-underlined">{{ enseignant.email }}</a></td>
                    <td>{{ enseignant.telephone }}</td>
                    <td>{{ enseignant.dateRecrutement | date}}</td>
                    <td><span class="label label-success">Active</span></td>
                    <th scope="row">
                        <input type="checkbox">
                    </th>
                    <td>
                        <a href="javascript: void(0);" class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                        <a href="javascript: void(0);" class="link-underlined" ><i class="icmn-archive"><!-- --></i> Archiver</a>
                    </td>

                </tr>

                {% endfor %}



                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title color-black-ecole"><i class="fa fa-black-tie color-black-ecole" aria-hidden="true"></i> Nouveau enseignant</h3>
                    </div>
                    <form action="{{ path('enseignant_new') }}" method="post">
                    <div class="modal-body">

                            <div class="row">
                                <div class="col-lg-6">

                                    <h5 class="color-black-ecole icmn-cogs"> Informations sur le compteXX</h5>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="l301">Identifiant</label>
                                                <input type="text" class="form-control" placeholder="Identifiant" disabled="" id="l0">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="l302">Mot de passe</label>
                                                <input type="text" class="form-control" placeholder="Mot de passe" disabled="" id="l0">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <h5 class="color-black-ecole icmn-profile"> Informations sur l'enseignant</h5>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Nom</label>

                                                {{ form_widget(form.Utilisateur.nom) }}
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Prénom</label>
                                                {{ form_widget(form.Utilisateur.prenom) }}
                                            </div>
                                        </div>


                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l15">Matière</label>
                                                <select class="form-control">
                                                    <option>Français</option>
                                                    <option>Anglais</option>
                                                    <option>Sciences</option>
                                                    <option>Sport</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">E-mail</label>
                                                {{ form_widget(form.Utilisateur.email) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Téléphone</label>
                                                {{ form_widget(form.telephone) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l15">Adresse</label>
                                                {{ form_widget(form.Utilisateur.adresse) }}
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l15">Date recrutement</label>
                                                {{ form_widget(form.dateRecrutement) }}
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                {{ form_widget(form._token) }}

                                <div class="col-lg-6">
                                    <h5 class="color-black-ecole icmn-image"> Image de l'enseignant</h5>
                                    <div class="cui-ecommerce--catalog--item">
                                        <div class="cui-ecommerce--catalog--item--img">
                                            <a href="javascript: void(0);">
                                                <img src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg" />
                                            </a>
                                            <a href="javascript: void(0);" class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                                <i class="icmn-cross2"><!-- --></i> Remove
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <input type="file" id="l16">
                                    </div>
                                </div>
                            </div>

                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-perso icmn-plus-circle"> Ajouter</button>
                        <button type="button" class="btn btn-default icmn-cancel-circle"> Annuler</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>


    </section>


{% endblock %}
