{% extends 'base.html.twig' %}

{% block body %}
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h3 class="color-black-ecole">
                <div class="dropdown pull-right">
                    <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                        Selectionnez une action
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item icmn-user-plus" href="javascript: void(0);" data-toggle="modal" data-target="#myModal1" > Nouveau</a>

                        <li class="dropdown-divider"> </li>
                        <a class="dropdown-item icmn-user-minus" href="javascript: void(0);"> Archiver</a>
                    </ul>
                </div>

                <i class="fa fa-black-tie color-black-ecole" aria-hidden="true"></i>
                GESTION DES ENSEIGNANTS
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover nowrap" id="example1" width="100%">
                <thead class="thead-default">
                <tr>


                    <th>Image</th>
                    <th>Nom & Prenom</th>
                    <th>Identifiant</th>
                    <th>Matière</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                    <th>Date de recrutement</th>
                    <th>Status</th>
                    <th>#</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                {% for enseignant in enseignants %}
                <tr>


                    <td><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img src="{{ asset('uploads/photos/') }}{{ enseignant.imageName }}" /></a></td>
                    <td>{{ enseignant.nom }} {{ enseignant.prenom }}</td>
                    <td>{{ enseignant.username }}</td>
                    <td>Français</td>
                    <td><a href="javascript: void(0);" class="link-underlined">{{ enseignant.email }}</a></td>
                    <td>{{ enseignant.telephone }}</td>
                    <td>{{ enseignant.dateRecrutement | date('d M ,Y')}}</td>
                    {% if enseignant.etat==1 %}
                    <td><span class="label label-success">Activé</span></td>
                    {% else %}

                    <td><span class="label label-warning">Desactivé</span></td>
                    {% endif %}
                    <th scope="row">
                        <input type="checkbox">
                    </th>
                    <td>
                        <a href="javascript: void(0);" class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                        <a href="{{ path('enseignant_delete', { 'id': enseignant.id }) }}" class="link-underlined"><i class="icmn-archive"><!-- --></i> Archiver</a>

                    </td>

                </tr>

                {% endfor %}



                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal1" role="dialog">
            {{ render(controller('EJPAcademixBundle:Enseignant:new')) }}
        </div>


    </section>


{% endblock %}

{% block javascripts %}

    <!-- Page Scripts -->
    <script>
        $(function () {

            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });

        })
    </script>
    <!-- End Page Scripts -->


{% endblock %}
