<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title color-black-ecole"><i class="fa fa-black-tie color-black-ecole" aria-hidden="true"></i> Nouveau enseignant</h3>
        </div>
        <form action="{{ path('enseignant_new') }}" method="post" enctype="multipart/form-data">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">

                        <h5 class="color-black-ecole icmn-cogs"> Informations sur le compte</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l301">Identifiant</label>
                                    <input type="text" class="form-control" placeholder="Identifiant" disabled="" id="l0">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l302">Mot de passe</label>
                                    <input type="text" class="form-control" placeholder="Mot de passe" disabled="" id="l0">
                                </div>
                            </div>
                        </div>
                        <br />
                        <h5 class="color-black-ecole icmn-profile"> Informations sur l'enseignant</h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="l30">Nom</label>

                                    {{ form_widget(form.Utilisateur.nom) }}
                                </div>
                            </div>
                            <br />
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="l30">Prénom</label>
                                    {{ form_widget(form.Utilisateur.prenom) }}
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Matière</label>
                                    {{ form_widget(form.matiere) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="l30">E-mail</label>
                                    {{ form_widget(form.Utilisateur.email) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="l30">Téléphone</label>
                                    {{ form_widget(form.Utilisateur.telephone) }}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Adresse</label>
                                    {{ form_widget(form.Utilisateur.adresse) }}
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Date recrutement</label>
                                    {{ form_widget(form.dateRecrutement) }}
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="l15">Date de naissance</label>
                                    {{ form_widget(form.Utilisateur.dateNaissance) }}
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="l30">Sex</label>
                                    {{ form_widget(form.Utilisateur.sex) }}
                                </div>
                            </div>




                        </div>

                    </div>



                    <div class="col-lg-6">

                        <div class="form-group ">
                            <label class="form-control-label" for="l15">Choisir une image</label>
                            {{ form_widget(form.Utilisateur.myFile) }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="l15">Affecter les classes</label>
                            {{ form_widget(form.bassas) }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button class="btn btn-perso icmn-plus-circle"> Ajouter</button>
                <button type="button" class="btn btn-default icmn-cancel-circle" data-dismiss="modal"> Annuler</button>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>

</div>
{% block javascripts %}
    <script>
        $(function() {
            $('.dropify').dropify();
        });
    </script>
{% endblock %}

{% block menu_block %}  style="display: block;" {% endblock %}