{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enseignant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Daterecrutement</th>
                <td>{% if enseignant.dateRecrutement %}{{ enseignant.dateRecrutement|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enseignant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('enseignant_edit', { 'id': enseignant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
