{% extends 'base.html.twig' %}
{% block title %} Enseignant{% endblock %}
{% block body %}
{% block menu_block %}  style="display: block;" {% endblock %}
    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background" xmlns="http://www.w3.org/1999/html">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">

                        <div class="profile-header-title">
                            <h2><span class="color-rouge-ecole"> {{ enseignant.prenom }} {{ enseignant.nom }}  </span></h2>
                            <p>Matière | {{ enseignant.matiere }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->
    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user" style="background-image: url({{ asset('../assets/common/img/temp/photos/10.jpeg') }})">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                             <img src="{{ asset('uploads/photos/') }}{{ enseignant.imageName }}" alt="Votre photo">
                        </a>
                        <br />
                        <div class="btn-group btn-group-center" aria-label="" role="group">

                            <div class="btn-group">
                                <button type="button" class="btn width-150 swal-btn-success-2" data-toggle="modal" data-target="#myModal1" >Classe</button>
                            </div>
                        </div>
                        <br />
                        <p >Dernière connexion: 2 Nov 2017 14:00PM</p><!-- dernière date de connexion -->
                        <p>
                            <span class="donut donut-success"></span>
                            En ligne
                        </p>
                    </div>
                </div>
            </section>




            <div class="widget widget-three">
                <div class="example-calendar-block"></div>
            </div>

        </div>
        <div class="col-xl-8">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#fiche_enseignant" role="tab">
                                    <i class="icmn-tie"></i>
                                    Fiche Enseignant
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#liste_classe" role="tab">
                                    <i class="icmn-design"></i>
                                    Classes enseignées
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#ressources" role="tab">
                                    <i class="icmn-books"></i>
                                    Ressources pédagogiques partagées
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#rdv" role="tab">
                                    <i class="icmn-calendar-day"></i>
                                    Les Rendez-Vous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="javascript: void(0);" data-toggle="tab" data-target="#cnx" role="tab">
                                    <i class="icmn-enter"></i>
                                    Historiques des connexions
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane " id="ressources" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-hover nowrap" id="example3" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Type ressource</th>
                                                <th>Ressources</th>
                                                <th>Télecharger</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- boucle for la liste des etudes liés à un eleve-->
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>word</td>
                                            <td>cours.docx</td>
                                            <td>
                                                <center><a href="javascript: void(0);" class="link-underlined margin-right-5"><i class="icmn-file-download2"><!-- --></i></a></center>
                                            </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="rdv" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-hover nowrap" id="example2" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Date rendez-vous</th>
                                                <th>Heure rendez-vous</th>
                                                <th>Parent de l'élève</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- boucle for la liste des etudes liés à un eleve-->
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>Date rendez-vous</td>
                                            <td>Heure rendez-vous</td>
                                            <td>Parent de l'élève</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="cnx" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-hover nowrap" id="example4" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>#</th>
                                                <th>Id</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- boucle for la liste des etudes liés à un eleve-->
                                            <th scope="row">
                                                <input type="checkbox">
                                            </th>
                                            <td>id</td>
                                            <td>Date</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="liste_classe" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table table-hover nowrap" id="example1" width="100%">
                                            <thead class="thead-default">
                                            <tr>
                                                <th>Année Scolaire</th>
                                                <th>Classe</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                            {% for enseigne in enseignant.enseignes %}

                                            <td>{{ enseigne.anneeScolaire }}</td>
                                            <td>

                                            {% for classe in enseigne.classe %}
                                            {{ classe }}
                                            {% endfor %}
                                            </td>
                                            {% endfor %}
                                            </tr>


                                            </tbody>
                                        </table>

                                        <div class="form-actions">
                                            <div class="form-group">
                                                <button data-toggle="modal" data-target="#myModal1" class="btn width-150 btn-primary icmn-plus-circle"> Modifier</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="fiche_enseignant" role="tabpanel">
                                {{ render(controller('EJPAcademixBundle:Enseignant:edit',{'id' : enseignant.id})) }}
                            </div>
                    </div>
                </div>
                </div>

            </section>

    </div>
    <!-- End Profile -->
    <!-- Modals -->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                {{ render(controller('EJPAcademixBundle:Enseignant:affectation',{'id' : enseignant.id})) }}
            </div>

        </div>
    </div>
    <!-- End Modals -->
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example2').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example3').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function () {
            // Datatables
            $('#example4').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
    <script>
        $(function() {

            ///////////////////////////////////////////////////////////
            // ADJUSTABLE TEXTAREA
            autosize($('#textarea'));

            ///////////////////////////////////////////////////////////
            // CUSTOM SCROLL
            if (!cleanUI.hasTouch) {
                $('.custom-scroll').each(function() {
                    $(this).jScrollPane({
                        autoReinitialise: true,
                        autoReinitialiseDelay: 100
                    });
                    var api = $(this).data('jsp'),
                        throttleTimeout;
                    $(window).bind('resize', function() {
                        if (!throttleTimeout) {
                            throttleTimeout = setTimeout(function() {
                                api.reinitialise();
                                throttleTimeout = null;
                            }, 50);
                        }
                    });
                });
            }

            ///////////////////////////////////////////////////////////
            // CALENDAR
            $('.example-calendar-block').fullCalendar({
                //aspectRatio: 2,
                height: 403,
                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                buttonIcons: {
                    prev: 'none fa fa-arrow-left',
                    next: 'none fa fa-arrow-right',
                    prevYear: 'none fa fa-arrow-left',
                    nextYear: 'none fa fa-arrow-right'
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                viewRender: function(view, element) {
                    if (!cleanUI.hasTouch) {
                        $('.fc-scroller').jScrollPane({
                            autoReinitialise: true,
                            autoReinitialiseDelay: 100
                        });
                    }
                },
                defaultDate: '2016-05-12',
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-05-01',
                        className: 'fc-event-success'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-05-09T16:00:00',
                        className: 'fc-event-default'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-05-16T16:00:00',
                        className: 'fc-event-success'
                    },
                    {
                        title: 'Conference',
                        start: '2016-05-11',
                        end: '2016-05-14',
                        className: 'fc-event-danger'
                    }
                ],
                eventClick: function(calEvent, jsEvent, view) {
                    if (!$(this).hasClass('event-clicked')) {
                        $('.fc-event').removeClass('event-clicked');
                        $(this).addClass('event-clicked');
                    }
                }
            });

            ///////////////////////////////////////////////////////////
            // GRAPH
            var cssAnimationData = {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    series: [
                        [1, 2, 2.7, 0, 3, 5, 3, 4, 8, 10, 12, 7],
                        [0, 1.2, 2, 7, 2.5, 9, 5, 8, 9, 11, 14, 4],
                        [10, 9, 8, 6.5, 6.8, 6, 5.4, 5.3, 4.5, 4.4, 3, 2.8]
                    ]
                },
                cssAnimationResponsiveOptions = [
                    [{
                        axisX: {
                            labelInterpolationFnc: function(value, index) {
                                return index % 2 !== 0 ? !1 : value
                            }
                        }
                    }]
                ];

            new Chartist.Line(".chartist-one", cssAnimationData, {
                plugins: [
                    Chartist.plugins.tooltip()
                ]}, cssAnimationResponsiveOptions);

            ///////////////////////////////////////////////////////////
            // CAROUSEL WIDGET
            $('.carousel-widget').carousel({
                interval: 4000
            });

            $('.carousel-widget-2').carousel({
                interval: 6000
            });

            ///////////////////////////////////////////////////////////
            // TOOLTIPS
            $("[data-toggle=tooltip]").tooltip();

        });
    </script>

    <script>
        $(".avatar").click(function() {
            $("input[type='file']").click();
        });
        </script>

         <script>

        $('.ui.dropdown')
  .dropdown();



    </script>

        <script>
        $(function() {

            $('.dropify').dropify();

        });
    </script>

{% endblock %}



{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{ asset('../assets/vendors/uidropdown/semantic.min.css') }}">
 <script src="{{ asset('../assets/vendors/uidropdown/semantic.min.js') }}"></script>

{% endblock %}