{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temoignages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Photo</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <td><a href="{{ path('temoignage_show', { 'id': temoignage.id }) }}">{{ temoignage.id }}</a></td>
                <td>{{ temoignage.nom }}</td>
                <td>{{ temoignage.prenom }}</td>
                <td>{{ temoignage.photo }}</td>
                <td>{{ temoignage.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('temoignage_show', { 'id': temoignage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('temoignage_edit', { 'id': temoignage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('temoignage_new') }}">Create a new temoignage</a>
        </li>
    </ul>
{% endblock %}
