{% extends 'base.html.twig' %}
{% block title %} Témoignages{% endblock %}
{% block body %}
<section class="panel panel-with-borders">
    <div class="panel-heading">
        <h3 class="color-black-ecole">
            <div class="dropdown pull-right">
                <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown"
                        aria-expanded="false">
                    Selectionnez une action
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item icmn-bubble-check" href="javascript: void(0);"> Publier</a>

                    <li class="dropdown-divider"></li>
                    <a class="dropdown-item icmn-bubble-blocked" href="javascript: void(0);"> Suuprimer</a>
                </ul>
            </div>

            <i class="fa fa-comment-o color-black-ecole" aria-hidden="true"></i>
            GESTION DES TEMOIGNAGES
        </h3>
    </div>
    <div class="panel-body">
    <table class="table table-hover nowrap" id="example1" width="100%">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <th scope="row">
                    <input type="checkbox">
                </th>
                <td><img src="{{ temoignage.photo }}" /></td>
                <td>{{ temoignage.nom }}</td>
                <td>{{ temoignage.prenom }}</td>
                <td>{{ temoignage.text }}</td>
                <td>
                    <a href=" " class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal1"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                    <a href="javascript: void(0);" class="link-underlined" ><i class="icmn-minus-circle2"><!-- --></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title color-black-ecole"><i class="fa fa-comment-o color-black-ecole" aria-hidden="true"></i> Le Témoignage</h3>
                </div>
                <div class="modal-body">
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        {{ form_end(edit_form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-perso icmn-checkmark3" data-dismiss="modal"> Modifier</button>
                    <button type="button" class="btn btn-perso icmn-plus3" data-dismiss="modal"> Publier</button>
                    <button type="button" class="btn btn-default icmn-cross2"> Annuler</button>
                </div>
            </div>
        </div>
    </div>
</section>
    <ul>
        <li>
            <a href="{{ path('temoignage_new') }}">Create a new temoignage</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
{% endblock %}
