{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temoignage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoignage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ temoignage.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ temoignage.prenom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ temoignage.photo }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ temoignage.text }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('temoignage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('temoignage_edit', { 'id': temoignage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
