{% extends 'base.html.twig' %}

{% block body %}
    <h1>Remarques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remarque in remarques %}
            <tr>
                <td><a href="{{ path('remarque_show', { 'id': remarque.id }) }}">{{ remarque.id }}</a></td>
                <td>{{ remarque.label }}</td>
                <td>{% if remarque.createdAt %}{{ remarque.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('remarque_show', { 'id': remarque.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('remarque_edit', { 'id': remarque.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('remarque_new') }}">Create a new remarque</a>
        </li>
    </ul>
{% endblock %}
