{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sanctions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cause</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sanction in sanctions %}
            <tr>
                <td><a href="{{ path('sanction_show', { 'id': sanction.id }) }}">{{ sanction.id }}</a></td>
                <td>{{ sanction.cause }}</td>
                <td>{% if sanction.createdAt %}{{ sanction.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sanction_show', { 'id': sanction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sanction_edit', { 'id': sanction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sanction_new') }}">Create a new sanction</a>
        </li>
    </ul>
{% endblock %}
