{% extends 'base.html.twig' %}
{% block title %} Document{% endblock %}

{% block body %}

    <section class="page-content">
<div class="page-content-inner">

    <!-- Ecommerce Products List -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
        <h3 class="color-black-ecole">
            <div class="pull-right">
                <button class="btn btn-perso icmn-user-plus" data-toggle="modal" data-target="#myModal1"> Nouveau document</button>


            </div>

            <i class="fa fa-user color-black-ecole" aria-hidden="true"></i>
            GESTION DES DOCUMENTS
        </h3>
    </div>
        <div class="panel-body">

            <table class="table table-hover nowrap" id="example1" width="100%">
                <thead class="thead-default">
                <tr>
                    <th>Type de document</th>
                    <th>Publié le </th>
                    <th>Visibilité dans le site</th>
                    <th>Action</th>

                </tr>
                </thead>

                <tbody>
                {% for document in documents %}
                <tr>
					<td>{{ document.type }}</td>

                    <td>{% if document.createdAt %}{{ document.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>

                    {% if document.etat %}
                            <label class="switch">
                                <input value="{{ document.id }}" class="state_button" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>

                    {% else %}

                            <label class="switch">
                                <input value="{{ document.id }}" class="state_button" type="checkbox">
                                <span class="slider round"></span>
                            </label>

                    {% endif %}


                    </td>

                    <td>
                        <a href="{{ asset('uploads/documents/') }}{{ document.lien }}" class="icmn-file-download">Telecharger</a>
                        {{ form_start(deleteForms[document.id]) }}
                        <a class="icmn-cross" href="#" onclick="$(this).closest('form').submit()">Supprimer</a>
                        {{ form_end(deleteForms[document.id]) }}

                    </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
		<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title color-black-ecole"><i class="fa fa-book color-black-ecole" aria-hidden="true"></i> Nouveau document</h3>
        </div>
        {{ render(controller('EJPAcademixBundle:Document:new')) }}
      </div>

    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title color-black-ecole"><i class="fa fa-book color-black-ecole" aria-hidden="true"></i> DOCUMENT</h3>
        </div>
        <div class="modal-body">
           edit form
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-default icmn-plus-circle"> Modifier</button>
          		  <button type="button" class="btn btn-default icmn-cancel-circle"> Annuler</button>
        </div>
      </div>

    </div>
  </div>
    </section>

    {% endblock %}
{% block stylesheets %}
          <style>
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }

            .switch input {display:none;}

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked + .slider {
                background-color: #e0de00;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #e0de00;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }
        </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>

     <script>

        $( ".state_button" ).change(function( event ) {
            var etat = $(this).is(":checked");
            etat = etat ? 1 : 0;
            var id = $(this).val();
            $.post( "{{ path("document_etat_ajax") }}", { id: id, etat : etat } , function( data ) {
            });

        });
    </script>
{% endblock %}