{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disponibilite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibilite.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ disponibilite.jour }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{% if disponibilite.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('disponibilite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('disponibilite_edit', { 'id': disponibilite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
