{% extends 'base.html.twig' %}
{% block title %} Emploi du temps{% endblock %}
{% block body %}
<section class="panel panel-with-borders">
    <div class="panel-heading">
        <h3 class="color-black-ecole">
            <div class="dropdown pull-right">
                <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                    Selectionnez une action
                </button>
                <ul class="dropdown-menu">
                    <a class="dropdown-item icmn-file-plus2" href="javascript: void(0);" data-toggle="modal" data-target="#myModal1" > Nouveau</a>

                    <li class="dropdown-divider"> </li>
                    <a class="dropdown-item icmn-file-minus2" href="javascript: void(0);"> Archiver</a>
                </ul>
            </div>

            <i class="fa fa-calendar color-black-ecole" aria-hidden="true"></i>
            GESTION DES EMPLOIS
        </h3>
    </div>

    <div class="panel-body">
        <table class="table table-hover nowrap" id="example1" width="100%">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Année scolaire</th>
                <th>Classe</th>
                <th>Publié le </th>
                <th>Emploi du temps</th>
                <th></th>

            </tr>
            </thead>

            <tbody>
            {% for emploi in emplois %}
                <tr>
                    <th scope="row">
                        <input type="checkbox">
                    </th>
                    <td>{{ emploi.anneeScolaire }}</td>
                    <td>{{ emploi.classe }}</td>
                    <td>{% if emploi.createdAt %}{{ emploi.createdAt|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ emploi.lien }}</td>

                    <td>
                        <a href="javascript: void(0);" class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal"><i class="icmn-pencil5"><!-- --></i></a>
                        <a href="javascript: void(0);" class="link-underlined" ><i class="icmn-archive"><!-- --></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form action="{{ path('emploi_new') }}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title color-black-ecole"><i class="fa fa-book color-black-ecole" aria-hidden="true"></i> Nouveau emploi du temps</h3>
                </div>
                <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="color-black-ecole icmn-calendar5"> Informations sur l'emploi</h5>
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l30">Année Scolaire</label>
                                                {{ form_widget(form.anneeScolaire) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l15">Classe</label>
                                                {{ form_widget(form.classe) }}
                                            </div>
                                        </div>

                                        <h5 class="color-black-ecole icmn-file-upload2"> Chargez le document</h5>
                                        <div class="col-lg-12">
                                            <div class="form-group">

                                                <div class="form-group ">
                                                    {{ form_widget(form.myFile) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-perso icmn-plus-circle"> Ajouter</button>
                    <button type="button" class="btn btn-default icmn-cancel-circle" data-dismiss="modal"> Annuler</button>
                </div>

            {{ form_widget(form._token) }}
            </form>
            </div>

        </div>
    </div>

</section>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });
        })
    </script>
{% endblock %}
