{% extends 'base.html.twig' %}
{% block title %} Evénement{% endblock %}
{% block body %}
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <h3 class="color-black-ecole">
                <div class="dropdown pull-right">
                    <button type="button" class="btn btn-perso dropdown-toggle " data-toggle="dropdown"
                            aria-expanded="false">
                        Selectionnez une action
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item icmn-file-plus2" href="javascript: void(0);" data-toggle="modal"
                           data-target="#myModal1"> Nouveau</a>

                        <li class="dropdown-divider"></li>
                        <a class="dropdown-item icmn-file-minus2" href="javascript: void(0);"> Annuler</a>
                    </ul>
                </div>

                <i class="fa fa-picture-o color-black-ecole" aria-hidden="true"></i>
                GESTION DES EVENEMENTS
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover nowrap" id="example1" width="100%">
                <thead class="thead-default">
                <tr>

                    <th>Image</th>
                    <th>Titre</th>
                    <th>Date de l'événement</th>
                    <th>Heure de l'événement</th>
                    <th>Description</th>
                    <th>Publié le</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                {% for evenement in evenements %}
                <tr>
                    <!-- Afficher la premiere Image dans la liste des images liée à un événement -->
                    <td><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img
                                    src="{{ asset('uploads/evenements/') }}{{ evenement.imageName }}"/></a></td>
                    <td>{{ evenement.titre }}</td>
                    <td>{% if evenement.dateEvenement %}{{ evenement.dateEvenement|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ evenement.heureDebut }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>{% if evenement.datePublication %}{{ evenement.datePublication|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ evenement.etat }}</td>
                                        <td>
                        <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}" class="link-underlined margin-right-5"><i class="icmn-pencil5"><!-- --></i> Détails</a>
                                            {{ form_start(deleteForms[evenement.id]) }}
                                            <a class="link-underlined icmn-minus-circle2" href="#" onclick="$(this).closest('form').submit()">Annuler</a>
                                            {{ form_end(deleteForms[evenement.id]) }}

                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title color-black-ecole"><i class="fa fa-picture-o color-black-ecole"
                                                                     aria-hidden="true"></i> Nouveau événement</h3>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('evenement_new') }}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">

                                    <h5 class="color-black-ecole icmn-stack-picture"> Informations sur l'événement</h5>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Titre</label>
                                                {{ form_widget(form.titre) }}
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Date de l'événement</label>
                                                {{ form_widget(form.dateEvenement) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="l30">Heure début</label>
                                                {{ form_widget(form.heureDebut) }}


                                            </div>
                                        </div>


                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="l30">Heure Fin</label>
                                                {{ form_widget(form.heureFin) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="l15">Description</label>
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-6">
                                    <h5 class="color-black-ecole icmn-image"> Images de l'événement</h5>
                                    <div class="cui-ecommerce--catalog--item">
                                        <div class="cui-ecommerce--catalog--item--img">
                                            <a href="javascript: void(0);">
                                                <img src="{{ asset('../assets/common/img/temp/ecommerce/ecommerce-empty.jpg') }}"/>
                                            </a>
                                            <a href="javascript: void(0);"
                                               class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                                <i class="icmn-cross2"><!-- --></i> Remove
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        {{ form_widget(form.myFile) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5 class="color-black-ecole icmn-user-plus"> Affecter des enseignants</h5>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="l30">Enseignants</label>
                                                {{ form_widget(form.enseignants) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-perso icmn-plus-circle">
                                    Ajouter
                                </button>
                                <button type="button" class="btn btn-default icmn-cancel-circle" data-dismiss="modal"> Annuler</button>
                            </div>
                            {{ form_widget(form._token) }}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <!-- Page Scripts -->
    <script>
        $(function () {

            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });

        })
    </script>
    <!-- End Page Scripts -->


{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% endblock %}