{% extends 'base.html.twig' %}
{% block title %} Evénement{% endblock %}
{% block body %}
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <div class="heading-buttons pull-right">
                <a href="javascript: void(0);" class="btn btn-perso" data-toggle="modal" data-target="#myModal1">
                    <i class="icmn-plus3"></i>
                    Ajouter une image
                </a>
            </div>
            <h3 class="color-black-ecole"><i class="fa fa-picture-o color-black-ecole" aria-hidden="true"></i> Détails événement</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <h5 class="color-black-ecole icmn-stack-picture"> Informations sur l'événement</h5>
                        <div class="form-group">
                            <label for="l30">Titre</label>
                            <output type="text" class="form-control" placeholder="Nom" id="l0">{{ evenement.titre }}</output>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="l30">Date de l'événement</label>
                            <output type="date" class="form-control" placeholder="Date de naissance">21/12/2017</output>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="l30">Heure début</label>
                            <output type="text" class="form-control" placeholder="E-mail" id="l0">08:00</output>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="l30">Heure Fin</label>
                            <output type="text" class="form-control" placeholder="Téléphone" id="l0">16:00</output>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="l15">Description</label>
                            <textarea class="form-control" rows="3" id="l15">Sortie Sud: 3 jours ...</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 " >
                <div class="col-lg-12">
                    <h5 class="color-black-ecole icmn-user-tie"> La liste des enseignants affectés</h5>
                    <div class="row">
                        <table class="table thead-default">
                            <thead>
                            <tr>
                                <th><center>Photo</center></th>
                                <th><center>Nom & Prénom</center></th>
                                <th><center>E-mail</center></th>
                                <th><center>Telephone</center></th>
                                <th><center>Affecter</center></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enseignant in evenement.enseignants %}
                            <tr>
                                <td><center><a href="javascript: void(0);" class="cui-ecommerce--dashboard--list--img"><img src="{{ asset('uploads/photos/') }}{{ enseignant.imageName }}" /></a></center></td>
                                <td><center>{{ enseignant.nom }} {{ enseignant.prenom }}</center></td>
                                <td><center>{{ enseignant.email }}</center></td>
                                <td><center>{{ enseignant.telephone }}</center></td>
                                <td><center>
                                        <a href="javascript: void(0);" class="link-underlined margin-right-5" data-toggle="modal" data-target="#myModal"><i class="icmn-user-check"><!-- --></i></a>
                                    </center></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-gallery clearfix">
            <h5 class="color-black-ecole icmn-stack-picture"> Galerie Images</h5>
            <div class="app-gallery-item edit" style="background-image: url({{ asset('asset../assets/common/img/temp/photos/1.jpeg') }})">
                <div class="app-gallery-item-hover">
                    <div class="btn-group margin-inline">
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                            <i class="icmn-pencil7"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="icmn-bin3"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="app-gallery-item edit" style="background-image: url({{ asset('asset../assets/common/img/temp/photos/1.jpeg') }})">
                <div class="app-gallery-item-hover">
                    <div class="btn-group margin-inline">
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                            <i class="icmn-pencil7"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="icmn-bin3"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-gallery-item edit" style="background-image: url({{ asset('asset../assets/common/img/temp/photos/1.jpeg') }})">
                <div class="app-gallery-item-hover">
                    <div class="btn-group margin-inline">
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                            <i class="icmn-pencil7"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="icmn-bin3"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="app-gallery-item edit" style="background-image: url({{ asset('asset../assets/common/img/temp/photos/1.jpeg') }})">
                <div class="app-gallery-item-hover">
                    <div class="btn-group margin-inline">
                        <button type="button" class="btn " data-toggle="modal" data-target="#myModal">
                            <i class="icmn-pencil7"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="icmn-bin3"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="app-gallery-item edit" style="background-image: url({{ asset('asset../assets/common/img/temp/photos/1.jpeg') }})">
                <div class="app-gallery-item-hover">
                    <div class="btn-group margin-inline">
                        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                            <i class="icmn-pencil7"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="icmn-bin3"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title color-black-ecole"><i class="fa fa-picture-o color-black-ecole" aria-hidden="true"></i> Ajouter une image</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="cui-ecommerce--catalog--item">
                                        <div class="cui-ecommerce--catalog--item--img">
                                            <a href="javascript: void(0);">
                                                <img src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg" />
                                            </a>
                                            <a href="javascript: void(0);" class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                                <i class="icmn-cross2"><!-- --></i> Remove
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <input type="file" id="l16">
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-perso icmn-plus-circle" data-dismiss="modal"> Ajouter</button>
                        <button type="button" class="btn btn-default icmn-cancel-circle"> Annuler</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title color-black-ecole"><i class="fa fa-picture-o color-black-ecole" aria-hidden="true"></i> Modifier l'image</h3>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="cui-ecommerce--catalog--item">
                                        <div class="cui-ecommerce--catalog--item--img">
                                            <a href="javascript: void(0);">
                                                <img src="../assets/common/img/temp/photos/2.jpeg" />
                                            </a>

                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <input type="file" id="l16">
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-perso icmn-checkmark" data-dismiss="modal"> Modifier</button>
                        <button type="button" class="btn btn-default icmn-cross"> Annuler</button>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </section>
    <!-- End Gallery -->

{% endblock %}
